<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stalban_app">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StAlban_App"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".sta_start.StaStartActivityMain"
            android:label="St. Alban"
            android:theme="@style/Theme.StAlban_App.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".sta_menu.StaMenuActivityMain"
            android:label="Menu"
            android:theme="@style/Theme.StAlban_App.NoActionBar">
        </activity>
        <activity
            android:name=".sta_gallery.StaGalleryActivityMain"
            android:label="Galerie"
            android:theme="@style/Theme.StAlban_App.NoActionBar">
        </activity>
        <activity
            android:name=".sta_gallery.StaGalleryActivityView"
            android:label ="Galerie"
            android:theme="@style/Theme.StAlban_App.NoActionBar">
        </activity>
        <activity android:name=".sta_gallery.StaFullView"
            android:theme="@style/Theme.StAlban_App.NoActionBar"/>
        <activity android:name=".sta_timeline.StaTimelineActivityMain"
            android:label="Timeline"
            android:theme="@style/Theme.StAlban_App.NoActionBar"/>
        <activity
            android:name=".sta_tour.StaTourActivityMain"
            android:label ="Tour"
            android:theme="@style/Theme.StAlban_App.NoActionBar">
        </activity>
        <activity android:name=".sta_tour.StaTourActivityStops"
            android:theme="@style/Theme.StAlban_App.NoActionBar"/>
        <activity android:name=".sta_tour.StaTourActivityEnd"
            android:theme="@style/Theme.StAlban_App.NoActionBar"/>
        <activity android:name=".sta_impressum.StaImActivityMain"
            android:theme="@style/Theme.StAlban_App.NoActionBar"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>